{% extends 'club/header.html' %}
{% load static %}
{% block navbar %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:index' %}">Homepage</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:login' %}">Login</a></li>
{% endblock %}
{% block content %}
<header class="masthead bg-primary text-white text-center" style="background: #34495e">
    <div class="container d-flex align-items-center flex-column">
        <div class="box">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                       {{ message |safe }}
                    {% endfor %}
            </div>
            {% endif %}

        <h1>Email sent</h1><br>
            <p class="text">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</header>
{% endblock %}
