{% extends 'club/header.html' %}
{% load static %}
{% block navbar %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:index' %}">Homepage</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:login' %}">Login</a></li>
{% endblock %}
{% block content %}
<header class="masthead bg-primary text-white text-center" style="background: #34495e">
    <div class="container d-flex align-items-center flex-column">
    <form class="box" method="post">
    <div>
        {% if form.new_password2.errors %}
        <div class="alert alert-danger" role="alert">
                {% for message in form.new_password2.errors %}
                   {{ message |safe}}<br>
                {% endfor %}
        </div>
        {% endif %}
    <h1>Reset confirm</h1>
        {% csrf_token %}
        {{ form.new_password1 }}
        <small style="color:white;text-align:left">{{ form.new_password1.help_text }}</small>
        {{ form.new_password2 }}
<!--        {{ form.password1}}-->
<!--        <small style="color:white">{{ form.password1.help_text }}</small>-->
<!--        {{ form.password2}}-->
<!--        <div>-->
        <input type="submit" value="Reset password">
<!--            <p class="text">Already have an account? <a href="{% url 'club:login' %}">Login</a> instead!</p>-->
<!--        </div>-->
    </form>
    </div>
</header>
{% endblock %}