{% extends 'club/header.html' %}
{% load static %}
{% block navbar %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:index' %}">Homepage</a></li>
{% if user.is_authenticated %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:profile' %}" style="font-weight:900">{{ user.username }}</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:course' %}" style="font-weight:900">Course</a></li>
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'club:logout' %}">Logout</a></li>
{% endif %}
{% endblock %}
{% block content %}
{% if messages %}
  <div id="flash-message" class="alert alert-info flash-success alert-dismissible" role="alert">
    {% for message in messages %}
        {{ message | safe}}
      <a href="{% url 'club:index' %}" class="close" data-dismiss="alert" aria-label="close" style="text-decoration: none">&times;</a>
    {% endfor %}
  </div>
{% endif %}
<header class="masthead bg-primary text-black text-left" style="background: white">
    <div class="container d-flex align-items-center flex-column">
        <h1>Day 1</h1>
    </div>
    <div class="course-text">
        <p>Привéт! (Hi!) Добрó пожáловать на курс! 🙋🏻‍♀️
            <br>Welcome to the course where you will learn all the basics of Russian phonetics, grammar, and vocabulary.
            The course will teach you how to hold basic conversations on topics such as acquaintance, family, weather, hobbies, in the shop, at the restaurant, etc. So please stay tuned and let’s get it started! 🚀
            <br>*This week you will learn how to read and write Russian letters.*
            By the end of the week you will be able to write this ⬇️
            <br>Russian alphabet is based on the Cyrillic script. Here you can see the letters with their Latin transcriptions ⬆️
        </p>
        <video width="232" height="424" controls style="display: block; margin: auto"><source src="{% static 'club/videos/day1.1.MP4' %}" type="video/mp4">Hello?</video>
        <p><br>✍️ *Task* <br>
            Grab a pen and a piece of paper and try to write the letters in cursive by following <a href="https://www.notion.so/True-friends-b85b1f6e02ab4f2d935a237b3d225f92">this link</a>!
            You can take a picture of your handwriting and send it to our group chat.
            Send your pictures to the answer field!
        </p>
    </div>
    <div class="container d-flex align-items-center flex-column">
        <form class="box" method="post" enctype="multipart/form-data">
          <h1>Homework</h1>
          {% csrf_token %}
          {{ submit_form.questions }}
            <div class="text-white">
          {{ files_form.file }}
                </div>
          <input type="submit" name="" value="Submit">
        </form>
    </div>
</header>
{% endblock %}